body {
    font-size: 14px !important;
}

.sqltbl {
    width: 100%;
}
._row {
    height: 150px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

._column {
    min-width: 30px;
    padding-right: 100px;
}